div {
    display: flex;
    font-family: Courier, monospace;
    text-align: center;
    background-color: #888888;
}

#game {
    flex-direction: column;
    width: 400px;
    height: 470px;
}

#panel {
    flex-direction: row;
    padding: 2% 2% 2% 2%;
    height: 15%;
    border: 5px ridge black;
}

#board {
    flex-direction: column;
    height: 85%;
    border: 5px ridge black;
}

.row {
    flex-direction: row;
    height: 6.25%;
}

.field {
    cursor: pointer;
    font-size: 15px;
    color: blue;
    width: 6.25%;
    border: 3px outset black;
    background-color: #BBBBBB;
}

.face {
    flex-grow: 1;
    cursor: pointer;
    border: 3px outset white;
    width: 12%;
    background-image: url("epicface.jpg");
    background-size: 100% 100%;
    margin-left: 15%;
    margin-right: 15%;
}

.counter {
    flex-grow: 3;
    cursor: pointer;
    font-size: 36px;
    background-color: black;
    color: red;
}
